.idea

# reveal.js runtime dependencies
node_modules/*
node_modules/reveal.js/*
node_modules/reveal.js/lib/*
node_modules/reveal.js/css/*
node_modules/reveal.js/css/theme/*
node_modules/highlight.js/*
node_modules/highlight.js/styles/*

!node_modules/
!node_modules/reveal.js/
!node_modules/reveal.js/js/
!node_modules/reveal.js/lib/
!node_modules/reveal.js/lib/js/
!node_modules/reveal.js/lib/css/
!node_modules/reveal.js/plugin/
!node_modules/reveal.js/css/
!node_modules/reveal.js/css/reveal.scss
!node_modules/reveal.js/css/reveal.css
!node_modules/reveal.js/css/theme/
!node_modules/reveal.js/css/theme/sky.css
!node_modules/reveal.js/css/print/
!node_modules/highlight.js/
!node_modules/highlight.js/styles/
!node_modules/highlight.js/styles/github.css
