@import "../../node_modules/highlight.js/styles/github.css";
@import "fonts.css";

.reveal a {
    color: #008dc9;
    margin-top: 3vh;
}

.reveal a:hover {
    color: #99d2eb;
}

#jug-title, .footer-center, .footer-center a {
    color: #99d2eb;
    margin-top: 3vh;
}

.footer-center a:hover {
    color: #008dc9;
}

#jug-title {
    text-align: right;
    margin-bottom: 3vh;
}

body {
    background: url("bg-slides.png");
    background-position: right;
    background-size: 110%;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5 {
    text-align: left;
    text-transform: none;
    letter-spacing: normal;
    white-space: pre-wrap;
    word-wrap: unset;
}

section.title {
    width: 70% !important;
    right: 0;
}

.title h1, .title h2 {
    text-align: right;
    color: white;
}

.title .preamble {
    text-align: right;
    color: white;
}

.reveal {
    font-family: Arial, Helvetica, sans-serif;
}

.reveal code, .reveal pre {
    font-family: "IBM Plex Mono";
}

.hljs {
    background-color: transparent;
}

.hljs-comment {
    color: darkolivegreen;
}

.reveal .controls {
    color: white;
}

.hidden {
    display: none !important;
}

.footer, .reveal .slide-number {
    font-size: 35% !important;
}

.footer-left {
    position: fixed;
    text-align: left;
    left: -30vh;
    bottom: -30vh;
}

.footer-left.title {
    left: 0vh;
    bottom: 0vh;
}

.footer-left img {
    width: 120vh;
    height: 120vh;
    opacity: 0.02;
}

.footer-left.title img {
    width: 60vh;
    height: 60vh;
    opacity: 1;
}

.footer-center {
    position: fixed;
    bottom: 2vh;
    width: 100%;
    text-align: center;
    white-space: pre;
}

.reveal .slide-number {
    background-color: transparent;
    color: white;
    bottom: 1vh;
}

.quoteblock blockquote:before {
    content: "\201c";
    float: left;
    font-size: 2.75em;
    font-weight: bold;
    line-height: 0.6em;
    margin-left: -0.6em;
    color: #008dc9;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.quoteblock blockquote {
    box-shadow: none;
}

.quoteblock .attribution {
    margin-top: 0.5em;
    margin-right: 0.5ex;
    text-align: right;
}

.reveal div.attribution.paragraph, .reveal div.attribution.paragraph p {
    font-size: 9pt;
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
}

.reveal p {
    margin: 0px;
}

.reveal pre code {
    margin: 0px;
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
    max-height: 550px;
}

.reveal section img {
    border: 0;
    box-shadow: none;
}

.type h2, .type h3 {
    text-transform: none;
    white-space: nowrap;
}

#_about {
    display: none;
}

#_about ul {
    list-style-type: none;
}

#_about p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#_about div {
    font-size: 60% !important;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 50px;
}

.nofooter h2 {
    color: #000;
    text-shadow: 2px 2px 0 #fff,
    -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    0px 2px 0 #fff,
    2px 0px 0 #fff,
    0px -2px 0 #fff,
    -2px 0px 0 #fff,
    2px 2px 5px #fff;
}

.reveal .nofooter {
    height: 100%;
}

.openblock div {
    margin-top: 2em;
    margin-bottom: 2em;
}

.split-left {
    width: 50%;
    float: left;
}

.split-right {
    width: 50%;
    float: right;
}

.j15 {
    text-align: left;
}

.j15hs {
    padding-top: 10% !important;
    text-align: left;
}

.j15auth {
    padding-top: 20% !important;
    text-align: right;
}

.j15small {
    text-align: left;
    font-size: 75% !important;
}

.j15link {
    text-align: right;	
    font-size: 50% !important; 
}

/* uncomment to align the text in the slides
 .reveal > .slides > section > div, .reveal > .slides > section > section > div, .reveal > .slides > section > pre, .reveal > .slides > section > section > pre {
    text-align: left;
}*/
