@import "../node_modules/reveal.js/css/theme/sky.css";
@import "fonts.css";

.reveal h1, .reveal h2, .reveal  h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: 'Boogaloo';
} 

.reveal div {
    font-family: "Averia Serif Libre";
}

.reveal code, .reveal pre {
    font-family: "IBM Plex Mono";
}

.slides .footer {
    background-color: red;
}